game_data/
game_source/
FFU-BR/
FFU-BR-Data/
RoomEffects/bin/
RoomEffects/obj/
RoomEffects/release_archive/
ConstructionTweaks/bin/
ConstructionTweaks/obj/
ConstructionTweaks/NuGet.Config
ConstructionTweaks/release_archive/